<!DOCTYPE html>
<html>
<head>
  <title>Shelves</title>
  <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
  <h1>Shelves</h1>
  <table>
    <tr>
      <th>ShelfID</th>
      <th>category</th>
      <th>TotalBooks</th>
      <th>Actions</th>
    </tr>
    <% for(var i=0; i < Shelves.length; i++) { %>
    <tr>
      <td><%= Shelves[i].shelf_id %></td>
      <td><%= Shelves[i].category %></td>
      <td><%= Shelves[i].total_books %></td>
      <td>
        <a href="/bookonShelve/<%= Shelves[i].shelf_id %>">View</a>
        <a href="/updateShelve/<%= Shelves[i].shelf_id %>">Edit</a>
        <a href="/deleteShelve/<%= Shelves[i].shelf_id %>">Delete</a>
      </td>
    </tr>
    <% } %>
  </table>
  <a href="/createShelve">Create New Shelves</a>
  <a href="/">Go To Book</a>
</body>
</html>
